* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 20px;
    position: sticky;
    height: 100px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
}

.navbar a {
    text-decoration: none;
    color: inherit;
    padding-right: 20px;
}

.logo {
    margin-right: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 100px;
}

#toggler,
    .navbar label{
        display: none;
    }

.menu-icon{
    display: block;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    margin: 10px;
    color: #000;
} */

.hero-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background: url(img/venicebeach.jpg);
    background-size: cover;
    box-shadow: 0px 8px 20px 6px rgba(0, 0, 0, 0.2);
    z-index:1;
}

.box {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
    
}

@keyframes animate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)* 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#0004);
}

.box span img {
    position: absolute;
    top: -43px;
    left: 0;
    width: 120%;
    height: 150%;
    object-fit: cover;
    border-radius: 20px;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.article-text {
    display: flex;
    flex-direction: column;
    font-size: 100%;
    width: 40%;
    margin-top: 40px;
    margin-left: 7%;
}

article img {
    height: 382px;
    border-radius:80px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    box-shadow: 7px 2px 6px 3px black;
}






















/* @media screen and (max-width:600px){
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 30px;
        background-color:aliceblue;
    }
    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu {
        max-height: 100%; 
    }
} */